html{
    text-align: center;
}
.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    background-color: azure;
    overflow: hidden;
    /*width: 400px;*/
}

.mantisa{
    display: flex;
    flex-grow: 1;
    height: 60px;
    width: 400px;
    border: 3px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    overflow: hidden;
}

.buttons{
    width: 400px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: auto;
    justify-content: space-between;
}
/* .buttons{ */
/*     width: 400px; */
/*     display: flex; */
/*     flex-wrap: wrap; */
/*     justify-content: space-between; */
/*     /\*margin-left: 10px;*\/ */
/* } */

button{
    width: 95px;
    height: 95px;
    margin-bottom: 4px;
    font-size: 2em;
    font-family: monospace;
    color: black;
}

#zero{
    grid-column: 1 / span 2;
    width: 100%;
 } 

